build
dist
MANIFEST
.idea
django_url_framework.egg-info/
duf_test/
env-test/
venv/
_build/
*.pyc
.DS_Store
*.pyc
.svn
*/.idea/workspace.xml
*/.idea/tasks.xml
*/.idea/misc.xml
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
*.tm_build_errors
.*.swp
project.xcworkspace/
xcuserdata/
UserInterfaceState.xcuserstate
.idea/workspace.xml
.idea/tasks.xml
.idea/misc.xml
bower_components
node_modules
Pods/
~$*
